<div class = "container">

    <h4>マイページ</h4>


    <strong>登録情報</strong>

    <%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>


    <table class = "table table-bordered">
        <tr>
            <td class = "table-active">氏名</td>
            <td><%= @customer.last_name %> &nbsp; <%= @customer.first_name %></td>
        </tr>

        <tr>
            <td class = "table-active">カナ</td>
            <td><%= @customer.last_name_kana %> &nbsp; <%= @customer.first_name_kana %></td>
        </tr>

        <tr>
            <td class = "table-active">郵便番号</td>
            <td><%= @customer.postal_code %></td>
        </tr>

        <tr>
            <td class = "table-active">住所</td>
            <td><%= @customer.registered_address %></td>
        </tr>

        <tr>
            <td class = "table-active">電話番号</td>
            <td><%= @customer.telephone_number %></td>
        </tr>

        <tr>
            <td class = "table-active">メールアドレス</td>
            <td><%= @customer.email %></td>
        </tr>

    </table>

    <div class = "row">
        <strong>配送先</strong>
        <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
    </div>

    <div class = "row">
        <strong>注文履歴</strong>
        <%= link_to "一覧を見る", about_path, class: "btn btn-primary" %>
    </div>

</div>