<h2>商品編集</h2>

<%= form_with model:@item, url: admin_item_path(@item), local:true do |f| %>

  <table>
    <tr>
      <td>商品画像</td>
      <td><%= f.attachment_field :image %></td>
    </tr>

    <tr>
      <td>商品名</td>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <td>商品説明</td>
      <td><%= f.text_area :introduction %></td>
    </tr>

    <tr>
      <td>ジャンル</td>
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
    </tr>

    <tr>
      <td>税抜価格</td>
      <td><%= f.text_field :price %></td>
    </tr>

    <tr>
      <td>販売ステータス</td>
      <td>
        <%= f.radio_button :is_active, :sale %>
        <%= Item.is_actives_i18n[:sale] %>

        <%= f.radio_button :is_active, :stop_selling %>
        <%= Item.is_actives_i18n[:stop_selling] %>
      </td>
    </tr>

  </table>

  <%= f.submit "変更を保存" %>

<% end %>
