
<div class = "container">

  <h4 class = "font-weight-bold"><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h4>

  <table class = "table table-borderless">
    <tr>
      <td>会員ID</td>
      <td><%= @customer.id %></td>
      <td></td>
    </tr>

    <%= form_with model:@customer, url: admin_customer_path(@customer), local: true do |f| %>

      <tr>
        <td>氏名</td>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>

      <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_kana %></td>
        <td><%= f.text_field :first_name_kana %></td>
      </tr>

      <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :postal_code %></td>
        <td></td>
      </tr>

      <tr>
        <td>住所</td>
        <td colspan="2"><%= f.text_field :registered_address %></td>
      </tr>

      <tr>
        <td>電話番号</td>
        <td><%= f.text_field :telephone_number %></td>
        <td></td>
      </tr>

      <tr>
        <td>メールアドレス</td>
        <td><%= f.text_field :email %></td>
        <td></td>
      </tr>

      <tr>
        <td>会員ステータス</td>
        <td>
          <%= f.radio_button :is_active, 1 %>
          有効
          <%= f.radio_button :is_active, 0 %>
          退会
        </td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
        <td></td>

      </tr>

    <% end %>

  </table>

</div>

