<div class = "container">

  <div class = "row mt-4">
    <h4><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h4>
  </div>

  <table class = "table table-borderless my-4">
    <tr>
      <th>会員ID</th>
      <td colspan="2"><%= @customer.id %></td>
    </tr>

    <tr>
      <th>氏名</th>
      <td colspan="2"><%= @customer.last_name + " " + @customer.first_name %></td>
    </tr>

    <tr>
      <th>フリガナ</th>
      <td colspan="2"><%= @customer.last_name_kana + " " + @customer.first_name_kana %></td>
    </tr>

    <tr>
      <th>郵便番号</th>
      <td colspan="2"><%= @customer.postal_code %></td>
    </tr>

    <tr>
      <th>住所</th>
      <td colspan="2"><%= @customer.registered_address %></td>
    </tr>

    <tr>
      <th>電話番号</th>
      <td colspan="2"><%= @customer.telephone_number %></td>
    </tr>

    <tr>
      <th>メールアドレス</th>
      <td colspan="2"><%= @customer.email %></td>
    </tr>

    <tr>
      <th>会員ステータス</th>

      <% if @customer.is_active == true %>
        <td class = "text-success font-weight-bold">有効</td>

      <% else %>
        <td class = "text-secondary font-weight-bold">退会</td>
      <% end %>
      <!--<td colspan="2"><%#= Customer.is_actives_i18n[@customer.is_active] %></td>-->
    </tr>

    <td></td>
    <td><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %></td>
    <td><%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary"  %></td>
  </table>

</div>