<div class = "container my-4">


  <div class = "row">

    <%= render 'public/items/genre', genres: @genres %>




    <div class = "col-10">

      <% if @page_id == 0 %>
        <h4 class = "my-4 font-weight-bold">商品一覧 (全<%= @items.count %>件)</h4>
      <% else %>
        <h4 class = "my-4 font-weight-bold"><%= @genre.name %>一覧 (全<%= @items.count %>件)</h4>
      <% end %>

      <div class = "row">
        <%= render 'public/items/item', items: @items %>
      </div>

      <%= paginate @items %>
    </div>

  </div>
</div>